$primaryColor: black;
$secondaryColor: white;
$accentColor: rgb(37, 130, 13);
$accentColorLt: rgb(132, 179, 41);
$overlayFont: "Share Tech Mono", serif;
$fontColor: #333;
$headerFont: "Roboto", sans-serif;
$defaultFont: "Roboto", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$boldWeight: 600;
$gutter: 16px;
